<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">
      Old Password
    </label>
    <input type="text" class="form-control" id="oldPassword" formControlName="oldPassword">
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">Old Password is required</div>
      <div *ngIf="oldPassword.errors.shouldMatchOldPassword">Old Password doesnt match</div>
    </div>
  </div>
  <div formGroupName="changedPassword">
      <div class="form-group">
          <label for="newPassword">
            New Password
          </label>
          <input type="text" class="form-control" id="newPassword" formControlName="newPassword">
          <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
              <div *ngIf="newPassword.errors.required">New Password is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="confirmPassword">
            Confirm Password
          </label>
          <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword">
          <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required">
              Confirm Password is required
          </div>
          <div class="alert alert-danger" *ngIf="confirmPassword.touched && changedPassword.invalid && changedPassword.errors.shouldMatchNewPassword">
            Confirm Password should match New Password
          </div>
      </div>
  </div>
  <div>
      <button class="btn btn-primary" [disabled]="form.invalid">Change Password</button>
  </div>
</form>